<head>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',
        filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>user logs </h2>
       {% if logs %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log['id'] }}</td>
                        <td>{{ log['name'] }}</td>
                        <td>{{ log['timestamp'] }}</td>
                    </tr>
                    {% endfor %}
        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
    </div>
</body>